.cart-content {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
}

@media screen and (min-width: 1000px) {
    .cart-content {
        width: 1000px;
        align-self: center;
        margin: 0 auto;
    }
}

.card-info-wrapper {
    background-color: rgb(245, 245, 247);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
