.products-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.product-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 10px;
    margin-bottom: 60px;
}

@media screen and (min-width: 1000px) {
    .product-info-wrapper {
        column-gap: 60px;
    }
}
