.product-iphone-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0px 20px;
    padding-top: 60px;
}

@media screen and (min-width: 1000px) {
    .product-iphone-wrapper {
        display: flex;
        justify-content: center;
    }

    .product-iphone-content {
        width: 1000px;
    }
}
