


.product-iphone-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (min-width: 1200px) {
    .product-iphone-wrapper {
        display: flex;
        justify-content: center;
    }

    .product-iphone-content {
        width: 1200px;
    }
}
