.phone-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    width: fit-content;
    margin-bottom: 60px;

}

.phone-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.phone-content {
    display: grid;
    gap: 60px;
}

.product-iphone-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.product-iphone-wrapper > div {
    /* border: 5px solid blue; */
}