


.product-mac-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (min-width: 1200px) {
  .product-mac-wrapper {
      display: flex;
      justify-content: center;
  }

  .product-mac-content {
      width: 1200px;
  }
}
