.store {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.help-wrapper {
    display: grid;
    gap: 20px;
}

.help-wrapper > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products {
    display: flex;
}

.products p {
    text-align: center;
    font-weight: bold;
}

.products img {
    height: 80px;
}
.products .product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.store-top {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.store-header {
    font-size: 40px;
    font-weight: bold;
}

.credit-text {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
}

.store-wrapper {
    background-color: rgb(245, 245, 247);
}

.quick-links-header {
    font-size: 1.6rem; 
    font-weight: bold;
}
.quick-link-wrapper {
    display: grid;
    gap: 20px;
}
.quick-link-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.quick-link-btn-wrapper > button {
    border-radius: 1000px;
    background-color: rgb(224, 224, 227);
    border: none;
    padding: 10px 20px;
}

@media screen and (min-width: 900px) {
    .store-top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .store-header {
        max-width: 600px;
    }
}

@media screen and (min-width: 1200px) {
    .store-wrapper {
        display: flex;
        justify-content: center;
    }

    .store {
        width: 1200px;
    }
}
