.terms-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 0.8rem;
    color: gray;
    padding: 20px;
}

.terms-wrapper {
    background-color: rgb(245, 245, 247);
}
@media screen and (min-width: 1000px) {
    .terms-wrapper {
        display: flex;
        justify-content: center;
    }

    .terms-content {
        width: 1000px;
        font-size: 0.9rem;
    }
}
